body {
  background: #f4ecd7;
}
 
/* .col {
  border: 2px solid black;
  border-radius: 5px;
}

.row {
  border: 3px solid tomato
}

.container {
  /* border: 3px solid gold; */
  /* margin-top: 30px; */
/* } */
 
